body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    background-color: black;
    max-width: 350px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
}
#display{
    width: 100%;
    overflow: hidden;
    border: none;
    font-size: 3.5em;
    background-color: hsl(0, 1%, 30%);
    text-align: left;
    color: white;
    padding: 25px;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px 20px;
}
button{
    margin: 0;
    background-color: hsl(0, 1%, 20%);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 2em;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 1%, 30%);
}
button:active{
    background-color: hsl(0, 1%, 40%);
}
.operator{
    background-color: hsl(39, 100%, 50%);
}
.operator:hover{
    background-color: hsl(39, 100%, 45%);
}
.operator:active{
    background-color: hsl(39, 100%, 40%);
}
